body {
  background-color: #f9f9f9;
}

/* styles.css */
.carousel-container {
  max-width: 500px;
  margin: auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  margin: auto;
  min-width: 100%; /* Each slide takes full width */
  transition: transform 0.5s ease; /* Smooth sliding animation */
}
.slide img {
  width: 100%; /* Each slide takes full width */
  height: auto;
}

/* Style for video tag to make it responsive */
.slide video {
  width: 100%;
  height: auto;
}

/* Navigation buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.next-btn {
  right: 10px;
}

.prev-btn {
  left: 10px;
}

/* Thumbnail container */
    .thumbnail-container {
      width: 100px; /* Adjust width as needed */
      overflow-y: auto; /* Enable scrolling if needed */
    }
    
    .thumbnail {
      margin-bottom: 10px;
      cursor: pointer;
    }
    
    .thumbnail img {
      width: 100%;
      height: auto;
      display: block;
    }

.carousel-container-outter {
  display: flex;
  max-width: 750px;
}
